$color__3F: #3F3F3F;
$dark: #49485E;
$color__EE: #EEE;
$color__E5: #E5E5E5;
$color__B4: #B4B4B4;
$color__ping: #FF8484;
$color__orange: #fcd059;
$color__orangeNormal: #f5ba1a;
$color__orangeBold: #dda200;