@import "_mixin";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@include fontInfo('SourceSansProSemiBold',
600);
* {
    box-sizing: border-box;
}

body,
html,
p {
    font-family: 'Source Sans Pro', monospace;
    color: $color__3F;
    font-weight: 400;
    @include marginAndPadingZero();
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

ul {
    @include marginAndPadingZero();
    list-style: none;
}

p {
    font-family: inherit;
}

input,
textarea,
button,
button {
    font-family: 'Source Sans Pro', monospace;
    &:hover,
    &:focus,
    &:active {
        border: none;
        outline: none;
    }
    cursor: pointer;
    border: none;
    outline: none;
}

address {
    font-style: normal;
}

a,
a:visited {
    text-decoration: none;
    &:focus {
        border: none;
        outline: none;
    }
}

button,
textarea {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: $color__3F;
    font-family: 'Source Sans Pro', monospace;
    font-weight: 600;
}